# IDE
.idea/
.vscode/

# Vue.js
vue/node_modules/
vue/dist/
vue/.env.local

vue-vite/node_modules/
vue-vite/dist/

# Java
Cloud-Demo/.idea/
Cloud-Demo/logs/
Cloud-Demo/*/target/
Cloud-Demo/*/src/test/
logs/
