# IDE
.idea/
.vscode/

# Vue.js
vue/node_modules/
vue/.env.*
vue/dist/

# Java
Cloud-Demo/.idea/
Cloud-Demo/logs/
Cloud-Demo/Product/target/
Cloud-Demo/Product/src/test/

# 通用
*.log
*.class
*.jar
*.war
*.ear
.DS_Store
Thumbs.db